<div class="footer mx-5 d-flex align-items-end">
    <a href="mailto:palliankit123@gmail.com?Subject=Contribute to youtube professional" class="mr-3">🎨 Contribute</a>
    <a href="https://remote2.gitlab.io/portfolio-jarvis/" target="_blank" class="mr-3">💻 Developer</a>
    <a href="#"
    data-toggle="modal" data-target="#modalHelp"
     target="_blank" class="mr-3">🤔 How it works ?</a>
</div>

<div class="modal fade" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">How it works ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Youtube provides suggestions based on your search, but this is actually a distration while you are working from home. This will ultimately lead to wastage of time and increasing pressure on timelines. <br/>
          To avoid such distractions youtube professionals helps you by only displaying what is required. <br>
        </div>
      </div>
    </div>
  </div>