<div class="search ">
    <div class="text-center" [@searchAnimation]="searchbar">
        <img src="assets/youtube-logo.svg" class="logo mb-3">
        <h5 class="mb-3">Youtube Professionals</h5>

        <form (keydown)="searchAnimation($event)" action="#" class="col-sm-12 col-md-8 bar mb-3">
            <input class="searchbar" type="text" placeholder="Search Youtube Videos">
            <a href="#" (click)="searchAnimation({keyCode:13})"> <img class="voice" src="assets/search-icon.svg"></a>
        </form>
        <span class="slogan">Experience Distraction Free Youtube</span>

        <div class="result__container p-5" *ngIf="searchbar=='slideup'">
            <i class="fa fa-times fa-2x text-secondary" (click)="reverseAnimation()" aria-hidden="true"></i>
            <div class="results px-4 ">
                <app-list-loading *ngIf="loading"></app-list-loading>
                <div class="row search__item mb-3" *ngFor="let item of results" (click)="openModal(item)">
                    <div class="col-md-4 col-sm-12 text-center mb-2">
                        <img [src]="item.snippet.thumbnails.default.url" class="thumbnail" />
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h5 class="text mb-2">{{item.snippet.title}}</h5>
                        <h5 class="text-dark mb-2">{{item.snippet.channelTitle}}</h5>
                        <p class="description">{{item.snippet.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>